<h2>Hello, Rails!</h2>
<p>
<%= link_to 'My Blog app', controller: 'articles' %>
 - 
<%= link_to 'New article', new_article_path %>
</p>

<p>
<%= link_to '2nd app', controller: 'welcome' %>

<br>
<%= link_to '3nd app', controller: 'articles' %>

</p>