<h2>Hello, Rails!</h2>
<p>
<%= link_to 'My Blog app', controller: 'articles' %>
 - 
<%= link_to 'New article', new_article_path %>
</p>

<p>
<%= link_to 'Users list', controller: 'users' %>

<br><br>
<%= link_to 'Posts by user', controller: 'microposts' %>

</p>